ASPNETCORE_ENVIRONMENT=

DB_CONNECTION_STRING=Server=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

API_PORT=

HANGFIRE_KEY=
HANGFIREDB_CONNECTION_STRING=

JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_PROVIDER=
JWT_VERSION=
JWT_EXPIRED_MINUTES=
REFRESHTOKEN_EXPIRED_MINUTES=

CORS_ALLOWED_ORIGINS=

UXM_HOST=

GAMEPROVIDER_HOST=
GAMEPROVIDER_APITOKEN=
GAMEPROVIDER_AESKEY=
GAMEPROVIDER_IV=
GAMEPROVIDER_REVERTPROXYURL=

GAMEBACCARAT_HOST=
GAMEBACCARAT_CLIENT_ID=
GAMEBACCARAT_APP_ID=
GAMEBACCARAT_SECRET=
GAMEBACCARAT_ALLOWEDTIMESTAMPSKEWSECONDS=

EngageLab_BaseUrl=
EngageLab_ApiUser=
EngageLab_ApiKey=
EngageLab_From=

Minio_InternalEndpoint=
Minio_PublicEndpoint=
Minio_AccessKey=
Minio_SecretKey=
Minio_UseSslPublic=
Minio_UseSslInternal=

SEQ_PORT=
SEQ_USERNAME=
SEQ_PASSWORD=

Srs_Host=
Srs_StreamServer=
Srs_ClientUrl=

RecurringJob_ExpiredTokenCleanupJob=
RecurringJob_SyncRefreshTokenJob=
RecurringJob_StreamTimeoutCheckerJob=
RecurringJob_GameSessionTimeoutCheckerJob=

SpamProtection_MaxVerifyAttempts=3
SpamProtection_VerifyLockMinutes=1
SpamProtection_VerifySlidingMinutes=1

GAME_X_MERCHANT_NUMBER=
GAME_X_PAYMENT_GATEWAY_API_KEY=
GAME_X_PAYMENT_GATEWAY_SECRET_KEY=
GAME_X_AESKEY=
PAYMENT_GATEWAY_HOST=