ASPNETCORE_ENVIRONMENT=

DB_CONNECTION_STRING=
HANGFIREDB_CONNECTION_STRING=
API_PORT=

HANGFIRE_KEY=

JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_PROVIDER=
JWT_VERSION=
JWT_EXPIRED_MINUTES=

CORS_ALLOWED_ORIGINS=

UXM_HOST=

GAMEPROVIDER_HOST=
GAMEPROVIDER_APITOKEN=
GAMEPROVIDER_AESKEY=
GAMEPROVIDER_IV=

EngageLab_BaseUrl=
EngageLab_ApiUser=
EngageLab_ApiKey=
EngageLab_From=

Minio_InternalEndpoint=
Minio_PublicEndpoint=
Minio_AccessKey=
Minio_SecretKey=
Minio_UseSslPublic=
Minio_UseSslInternal=

RecurringJob_DashboardStatisticJob=
RecurringJob_SessionCleanUpJob=